<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio buttons</title>
</head>
<body>
    <form>
        <label>Years of experience</label>
        <label>
        <input type="radio" name="gender" value="0-2" />0-2
    </label>
        <label>
        <input type="radio" name="gender" value="6-8" />3-6
    </label>
        <label>
        <input type="radio" name="gender" value="8-10" />8-10
    </label>
        
    </form>
</body>
</html>